In [29]:
import pandas as pd
import numpy as np

In [8]:
Data = pd.read_csv('winequality-white.csv',sep=';')
Data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [10]:
X = Data[['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']]
X

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8

In [11]:
Data.groupby('quality').size()

quality
3      20
4     163
5    1457
6    2198
7     880
8     175
9       5
dtype: int64

In [12]:
Y = Data['quality']
Y

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

In [13]:
Data.isnull()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,False,False,False,False,False,False,False,False,False,False,False,False
4894,False,False,False,False,False,False,False,False,False,False,False,False
4895,False,False,False,False,False,False,False,False,False,False,False,False
4896,False,False,False,False,False,False,False,False,False,False,False,False
4897,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [16]:
X_train.shape

(3918, 11)

In [17]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [30]:
k = (np.sqrt(len(X_train)))/2
k = round(k)

if k%2 == 0:
    k = k+1
k = int(k)
k

31

In [31]:
classifier = KNeighborsClassifier(n_neighbors=k)

In [32]:
classifier.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=31)

In [22]:
Y_pred = classifier.predict(X_test)
Y_pred

array([5, 5, 6, 6, 5, 5, 6, 6, 6, 6, 6, 7, 5, 6, 6, 6, 5, 5, 7, 6, 6, 7,
       5, 5, 5, 7, 5, 6, 6, 6, 7, 5, 6, 6, 5, 6, 5, 7, 7, 6, 6, 5, 6, 6,
       6, 6, 6, 6, 7, 6, 7, 7, 5, 6, 6, 7, 5, 6, 6, 6, 5, 5, 6, 6, 6, 7,
       5, 6, 5, 5, 7, 6, 5, 6, 6, 5, 6, 5, 6, 7, 5, 6, 5, 5, 5, 4, 6, 7,
       5, 6, 6, 6, 5, 7, 5, 5, 7, 6, 5, 6, 7, 5, 6, 6, 5, 5, 6, 6, 6, 6,
       5, 5, 7, 5, 5, 7, 6, 6, 7, 5, 5, 6, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6,
       6, 7, 6, 5, 5, 7, 5, 5, 6, 5, 6, 5, 5, 6, 5, 7, 6, 6, 7, 6, 6, 6,
       6, 7, 7, 6, 5, 7, 5, 6, 7, 6, 5, 6, 6, 6, 5, 5, 7, 6, 5, 5, 7, 5,
       7, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 5, 7, 6, 6, 6, 6,
       6, 5, 6, 6, 4, 6, 6, 6, 6, 5, 6, 6, 6, 8, 7, 5, 6, 8, 6, 6, 6, 7,
       5, 6, 6, 6, 6, 5, 7, 4, 6, 5, 5, 6, 5, 5, 5, 6, 4, 7, 5, 6, 5, 5,
       6, 6, 6, 7, 5, 4, 7, 5, 6, 7, 5, 6, 6, 5, 5, 6, 7, 6, 7, 6, 6, 6,
       6, 6, 6, 6, 6, 5, 6, 5, 6, 5, 6, 5, 7, 6, 5, 6, 6, 5, 5, 7, 6, 6,
       6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 6, 6, 6, 7, 5, 6, 6, 5, 6, 6, 5, 6,
       6, 5, 5, 5, 5, 7, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 7,
       6, 6, 6, 5, 6, 6, 6, 5, 6, 5, 6, 7, 6, 7, 7, 6, 5, 8, 7, 6, 6, 7,
       5, 7, 7, 5, 5, 6, 5, 7, 5, 5, 7, 5, 7, 6, 5, 6, 5, 5, 5, 6, 7, 6,
       6, 6, 6, 6, 7, 5, 6, 6, 5, 6, 6, 6, 6, 6, 5, 5, 6, 7, 6, 7, 6, 6,
       8, 5, 6, 6, 6, 6, 6, 6, 8, 6, 6, 6, 6, 6, 5, 6, 6, 6, 7, 6, 6, 6,
       6, 6, 8, 6, 7, 6, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6,
       6, 6, 6, 6, 6, 7, 6, 7, 7, 6, 5, 6, 5, 5, 5, 6, 6, 6, 6, 5, 6, 5,
       7, 6, 5, 5, 7, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 5, 5, 6, 5, 6, 7, 5,
       5, 5, 6, 7, 5, 5, 7, 5, 7, 6, 6, 6, 5, 6, 5, 6, 6, 6, 5, 6, 5, 6,
       6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 5, 4, 6, 6, 6, 6,
       5, 6, 7, 7, 7, 5, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 5, 5, 5, 5, 6,
       6, 6, 6, 6, 7, 7, 5, 5, 7, 7, 6, 6, 5, 5, 6, 7, 6, 6, 5, 8, 5, 6,
       5, 5, 5, 6, 5, 5, 6, 6, 5, 6, 6, 5, 5, 6, 5, 7, 6, 6, 6, 7, 6, 6,
       6, 6, 6, 5, 8, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 5, 5, 6, 7, 6,
       6, 5, 6, 6, 5, 6, 5, 7, 5, 5, 6, 5, 6, 6, 7, 5, 5, 6, 6, 5, 6, 5,
       6, 6, 6, 6, 6, 6, 7, 7, 7, 5, 6, 7, 6, 6, 7, 5, 7, 6, 6, 6, 7, 5,
       6, 5, 7, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 6, 5, 6, 5, 6, 5, 5, 6, 6,
       6, 6, 5, 8, 5, 6, 6, 6, 5, 5, 5, 6, 6, 5, 5, 6, 6, 5, 4, 5, 7, 6,
       6, 6, 4, 6, 5, 6, 6, 5, 6, 6, 5, 6, 6, 6, 5, 6, 7, 6, 5, 7, 6, 6,
       7, 5, 4, 6, 7, 6, 6, 5, 6, 7, 5, 7, 6, 6, 6, 6, 5, 7, 6, 6, 5, 5,
       4, 5, 6, 6, 6, 6, 6, 6, 4, 6, 6, 7, 5, 5, 6, 6, 7, 6, 6, 7, 5, 6,
       6, 6, 5, 5, 6, 5, 6, 6, 6, 5, 5, 5, 6, 6, 6, 6, 4, 6, 5, 5, 5, 7,
       5, 5, 7, 5, 5, 5, 6, 6, 6, 6, 6, 6, 5, 7, 6, 6, 6, 6, 6, 5, 5, 5,
       6, 6, 5, 6, 6, 6, 5, 5, 7, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 4, 5, 6, 5, 6, 6, 6, 5, 7, 6, 5, 5, 8, 7, 7, 6, 5,
       5, 6, 5, 6, 6, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 4, 5, 6, 5,
       6, 6, 6, 6, 7, 6, 5, 5, 6, 5, 5, 6, 5, 6, 7, 5, 5, 5, 5, 7, 5, 6,
       6, 6, 6, 6, 5, 6, 5, 5, 4, 5, 5, 6, 7, 6, 6, 5, 6, 6, 5, 7, 6, 6,
       5, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 5, 6, 6,
       5, 5, 5, 7, 6, 5, 6, 6, 6, 5, 5, 7, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 6, 5], dtype=int64)

In [33]:
cm = confusion_matrix(Y_test,Y_pred)
cm

array([[  0,   1,   6,   2,   0,   0],
       [  0,   3,  24,  20,   4,   0],
       [  0,   7, 135, 137,  16,   0],
       [  0,   4, 111, 250,  40,   4],
       [  0,   0,  37,  90,  54,   2],
       [  0,   0,   4,  19,   6,   4]], dtype=int64)

In [35]:
acc = accuracy_score(Y_test,Y_pred) * 100
print('Model accuracy is => ' + str(round(acc,0)))

Model accuracy is => 46.0

In [37]:
df = pd.DataFrame()
df['Actual Data'] = Y_test
df['Predicted Data'] = Y_pred
df

      Actual Data  Predicted Data
2762            5               5
42              6               5
1419            7               6
3664            8               6
2125            5               5
...           ...             ...
2111            5               5
1828            6               6
1256            6               6
3335            6               6
230             4               5

[980 rows x 2 columns]